body {
  background: darkgreen;
 
}
form {
  width: 300px;
}
input {
  border: none;
}
input,
button {
  padding: 10px;

  width: 100%;
}
button {
  cursor: pointer;
  margin-bottom: 10px;
  width: 108%;
}

.form-field {
  margin-bottom: 10px;
}

.error {
  color: white;
  background: red;
  display: none;
  width: 107%;
}
