body {
  background: darkgreen;
  height: 100vh;
}
form {
  width: 300px;
}
input {
  border: none;
}

button {
  cursor: pointer;
  margin-bottom: 10px;
  width: 107%;
}

.error {
  color: white;
  background: red;
  display: none;
  width: 107%;
}
